<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>847290580898-d2locnvjpc19oj3vr8a75nmkhla5lufo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.847290580898-d2locnvjpc19oj3vr8a75nmkhla5lufo</string>
	<key>API_KEY</key>
	<string>AIzaSyAjekFIP6WVF6PUSzY4iMWhe2_RfPxeQaI</string>
	<key>GCM_SENDER_ID</key>
	<string>847290580898</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cinduhrella</string>
	<key>PROJECT_ID</key>
	<string>cinduhrella</string>
	<key>STORAGE_BUCKET</key>
	<string>cinduhrella.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:847290580898:ios:24ff6124a79a9e5ca0bcfb</string>
</dict>
</plist>