<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBgeWxrluMdG5Gk1lEiBrAGilPGfmHQ_6g</string>
	<key>GCM_SENDER_ID</key>
	<string>375584243234</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cinduhrella</string>
	<key>PROJECT_ID</key>
	<string>cin-duh-rella</string>
	<key>STORAGE_BUCKET</key>
	<string>cin-duh-rella.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:375584243234:ios:5d10384f1c95a735a7947b</string>
</dict>
</plist>